.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}
img {
  width: 220px;
  height: 180px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-size: 1.2rem;
}
a:hover {
  font-size: 1.5rem;
}
